<%= form_for @register, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apat, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amat, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :carrera, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :carrera, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nivel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nivel, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ci, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ci, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ciudad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ciudad, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zona, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zona, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefonos, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefonos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :celular, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :celular, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :otro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :otro, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :salud, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :salud, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apoderado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apoderado, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parentesco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :parentesco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefonoapoderado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefonoapoderado, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccionapoderado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccionapoderado, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                registers_path, :class => 'btn' %>
  </div>
<% end %>
