<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @register.nombre %>
</p>

<p>
  <b>Apat:</b>
  <%= @register.apat %>
</p>

<p>
  <b>Amat:</b>
  <%= @register.amat %>
</p>

<p>
  <b>Carrera:</b>
  <%= @register.carrera %>
</p>

<p>
  <b>Nivel:</b>
  <%= @register.nivel %>
</p>

<p>
  <b>Email:</b>
  <%= @register.email %>
</p>

<p>
  <b>Ci:</b>
  <%= @register.ci %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @register.ciudad %>
</p>

<p>
  <b>Direccion:</b>
  <%= @register.direccion %>
</p>

<p>
  <b>Zona:</b>
  <%= @register.zona %>
</p>

<p>
  <b>Telefonos:</b>
  <%= @register.telefonos %>
</p>

<p>
  <b>Celular:</b>
  <%= @register.celular %>
</p>

<p>
  <b>Otro:</b>
  <%= @register.otro %>
</p>

<p>
  <b>Salud:</b>
  <%= @register.salud %>
</p>

<p>
  <b>Apoderado:</b>
  <%= @register.apoderado %>
</p>

<p>
  <b>Parentesco:</b>
  <%= @register.parentesco %>
</p>

<p>
  <b>Telefonoapoderado:</b>
  <%= @register.telefonoapoderado %>
</p>

<p>
  <b>Direccionapoderado:</b>
  <%= @register.direccionapoderado %>
</p>


<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
