<!--start: Container -->
    	<div class="container">
			
<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
<div class="carousel-inner">
    <div class="active item"><img src="<%= asset_path( 'imgbig1.jpg') %>" alt="" /></div>
    <div class="item"><img src="<%= asset_path( 'tarijafoto2.jpg') %>" alt="" /></div>
    <div class="item"><img src="<%= asset_path( 'tarijafoto1.jpg') %>" alt="" /></div>
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

			
			<hr>
	
      		<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
      		<div class="hero-unit">
        		<p>
					Seminarios, Conferencias, Deporte, Confraternizaci칩n, y mucho mas! 
				</p>
        		<p><a class="btn btn-success btn-large">Learn more &raquo;</a></p>
      		</div>
			<!-- end: Hero Unit -->
      		
			<hr>
			
			<!-- start: Row -->
			<div class="row">
				
				<!-- start: Icon Boxes -->
				<div class="icons-box-vert-container">

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-ok ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Seminarios</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box-->

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-cup  ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Deportes</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-ipad ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Conferencias</h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

				</div>
				<!-- end: Icon Boxes -->
				<div class="clear"></div>
			</div>
			<!-- end: Row -->
			
			<hr>
			
			<!-- start: Row -->
      		<div class="row">
	
				<div class="span9">
					
					<div class="title"><h3>Opiniones de nuestros estudiantes</h3></div>
					
					<!-- start: Row -->
		      		<div class="row">
			
						<div class="span3">
	
							<div class="picture">
								<a href="<%= asset_path( 'imgpeque1.jpg') %>" rel="image" title="mobile app">
									<img src="<%= asset_path( 'imgpeque1.jpg') %>" >
									<div class="image-overlay-zoom"></div>
								</a>
							</div>
							<div class="item-description">
								<h4><a href="#">Encuentro de Oruro</a></h4>
								<p>Fue inolvidable, fue donde conoci a todos mis compa침eros de curso y la pase genial!</p>
							</div>
					
        				</div>
					
						<div class="span3">

							<div class="picture">
								<a href="<%= asset_path( 'imgpeque2.jpg') %>" rel="image" title="mobile app">
									<img src="<%= asset_path( 'imgpeque2.jpg') %>">
									<div class="image-overlay-link"></div>
								</a>
							</div>
							<div class="item-description">
								<h4><a href="#">Mobile App</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							</div>

		        		</div>

						<div class="span3">

							<div class="picture">
								<a href="<%= asset_path( 'imgpeque3.jpg') %>" rel="image" title="mobile app">
									<img src="<%= asset_path( 'imgpeque3.jpg') %>">
									<div class="image-overlay-zoom"></div>
								</a>
							</div>
							<div class="item-description">
								<h4><a href="#">Mobile App</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							</div>

						</div>
					
        			</div>
					<!-- end: Row -->
					
				</div>

        		<div class="span3">
					
					<!-- start: Testimonials-->

					<div class="testimonial-container">

						<div class="title"><h3>Recomendaciones</h3></div>

							<div class="testimonials-carousel" data-autorotate="3000">

								<ul class="carousel">

									<li class="testimonial">
										<div class="testimonials">Fue inolvidable, fue donde conoci a todos mis compa침eros de curso y la pase genial!</div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author">David Luck, <span>Estudiante</span></div>
									</li>

									<li class="testimonial">
										<div class="testimonials">Fue una linda experiencia, donde pudimos aprender mucho de las conferencias</div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author">Lucas Luck, <span>Docente</span></div>
									</li>

									<li class="testimonial">
										<div class="testimonials">Fue inolvidable, fue donde conoci a todos mis compa침eros de curso y la pase genial!</div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author">Leticia Vargas, <span>Estudiante</span></div>
									</li>

									<li class="testimonial">
										<div class="testimonials">Imposible perdersela!!!!</div>
										<div class="testimonials-bg"></div>
										<div class="testimonials-author">Rosmery Acha, <span>Estudiante</span></div>
									</li>

								</ul>

							</div>

						</div>

					<!-- end: Testimonials-->
					
        		</div>

      		</div>
			<!-- end: Row -->
			
			<hr>
		
			<hr>
			
		</div>
		<!--end: Container-->
	
	</div>
	<!-- end: Wrapper  -->			
