<!DOCTYPE html>
<html>
<head>
  <title>Cades | Admin</title>
  



<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">

  <%= csrf_meta_tags %>






</head>
<body>

	
<!--start: Container -->
		<div class="container">
			
<div> <img src="<%= asset_path( 'bannerencuentrosup.png') %>" />  </div>
<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
			<!--start: Navbar -->
			<div class="navbar navbar-inverse">
	    		<div class="navbar-inner">
	          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</a>
					
	          		<div class="nav-collapse collapse">
	            		<ul class="nav">
							
	              			<li><%= link_to('Encuentro', :controller => 'page', :action => 'index') %></li>
							<li><%= link_to('Programa', :controller => 'seminarios', :action => 'index') %></li>
							<li><%= link_to('Registrarme', :controller => 'registers', :action => 'new') %></li>
						
	            		</ul>
	          		</div>
	        	</div>
	      	</div>
			<!--end: Navbar -->
			
		</div>
<!--end: Container-->
		
			<%= yield %>
		


  
  
</body>
</html>
